@import "tailwindcss";


/* variables */
:root {
    --primary-color: #007AAE;
    --secondary-color: #0B4066;
    --text-color: #636C7B;
}




@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


.animate-marquee {
    animation: marquee 35s linear infinite;
}

.animate-marquee-reverse {
    animation: marquee-reverse 35s linear infinite;
}

